* {
	box-sizing: border-box;
	list-style-type: none;
}

/* TEST */

/*
div {
	border: 1px dotted purple;
}

span {
	border: 1px solid orange;
}
*/

/* END TEST */

body {
	text-decoration: none;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

ul,
li {
	list-style-type: none;
	list-style-position:inside;
	margin:0;
	padding:0;
}

img {
	height: 20px;
}

.user-pics {
	height: 30px;
	border-radius: 30px;
	padding: 2px;
}

h1 {
	font-size: 1.2em;
	color: grey;
}

h2 {
	text-transform: uppercase;
	font-size: 1.125em;
	color: grey;
}

/* Header */

#menus {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
}

header {
	background: #7477bf;
	color: white;
	display: flex;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
}

header ul {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	padding: 0;
}

header li {
	justify-content: center;
}

#divider {
	display: none;
}

#app-name {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	padding: 2px;
	flex: 2 100%;
}

#bold-app-name {
	font-weight: 900;
}

#trademark {
	vertical-align: super;
	font-size: .35em;
	font-weight: 100;
}


/* Navigation Menu */

nav {
	background: #4d4c72;
	color: grey;
	width: 100%;
	padding: 5px;
}

nav ul {
	display: flex;
	width: 100%;
	padding: 0;
	justify-content: space-around;
}

/* Dashboard Title and Search Bar */

#dash-title {
	display: none;
}

#search-banner {
	background: #fbfbfb;
	padding: 10px;
	height: 60px;
	border: 1px solid lightgray;
	margin: auto;
}

#search-bar {
	height: 30px;
	width: 90%;
	margin: auto;
	background: white;
	border-radius: 4px;
}

/* Main */

main {
	padding: 20px;
	padding-top: 202px;
	width: 100%;
	background: white;
}

/* Charts */

#traffic,
#daily-traffic,
#mobile-users {
	padding: 10px;
}

#charts {
	border: 1px solid green;
}

#daily-traffic {
	border: 1px solid black;
}

#trafficChart {
	padding: 10px;
}

#mobile-users {

}


/* --------- WIDGETS ---------- */

#new-members,
#recent-activity,
#message-user,
#settings {
/*	height: 300px;*/
	height: auto;
	border: 1px solid lightgrey;
}

/* ----- Social Stats Widget ----- */

#social-stats {
	width: 100%;
	padding: 10px;
	border: none;
}

#social-stats li {
	font-size: 1.125em;
	color: #7377bf;
	padding: 10px;
	background: #fbfbfb;
	border: 1px solid gray;
	border-radius: 4px;
	width: 80%;
	margin: 5px auto;
}

#social-stats img {
	background: #7477bf;
	color: white;
	height: 50px;
	border-radius: 50px;
}

.social-number {
	color: grey;
	font-size: 1.1em;
}


/* ----- New Members Widget ----- */
.member-names {
	color: gray;
}

.join-dates {
	color: gray;
}

.member-emails {
	color: #7477bf;
}

.divider {
	border-bottom: 1px solid black;
}


/* ----- Recent Activity Widget ----- */

.activity-description {

}

.activity-time {

}


/* ----- Message User Widget ----- */

#search,
#textarea {
	width: 100%;
	border-radius: 6px;
}

#textarea {
	height: 100px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgrey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: darkgrey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: darkgrey;
}
:-moz-placeholder { /* Firefox 18- */
  color: darkgrey;
}


/* ----- Settings Widget -----*/

#settings {
	width: 100%;

}

#toggle-element,
#toggle {
	width: 80px;
	padding: 10px;
	margin: auto;
}

#email-toggle,
#public-toggle {
	width: 100%;
	height: 6em;
	padding: 10px;
}

#send-email,
#set-profile {
	padding: 10px;
	border: 1px dotted green;
	text-align: center;
	margin: auto;
}

/* Need to figure out how to style toggle backgrounds */
.on-switch {
	background: #7477bf;
}

.toggle-dot {
	background: white;
	z-index: 1;
}

#email-toggle a,
#public-toggle a {
	background: white;
}

#timezone {
	width: 90%;
	margin: auto;
	border-radius: 6px;
	height: 2em;
}



/* ----- Buttons ----- */

button {
	border-radius: 4px;
}

#send-button {
	width: 100%;
	height: 2em;
	text-transform: uppercase;
}

#send-button,
#save-button {
	background: #7377bf;
	color: white;
}

#save-button,
#cancel-button {
	width: 45%;
}

#settings-buttons {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 0;
}

#cancel-button {
	background: #b2b2b2;
	color: white;
}


/* ---------- MEDIA QUERIES ----------*/
/*320px for phones*/
@media screen and (min-width: 700px) {
	header {
		justify-content: space-between;
		padding-right: 10px;
		height: 60px;
		position: fixed;
		width: 100%;
		top: 0;
		right: 0;
	}

	header ul {
		flex-direction: row;
		justify-content: space-between;
		padding-right: 10px;
		padding-left: 10px;
	}

	header li {
		padding-right: 5px;
		padding-left: 5px;
	}

	#app-name {
		margin-right: auto;
		flex: auto;
	}

	#divider {
		display: block;
		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 100;
		padding-bottom: .25em;
	}

	.user-pics {
		height: 40px;
		border-radius: 40px;
	}

	nav {
		width: 80px;
		height: 100%;
		top: 60px;
		bottom: 0;
		position: fixed;
		height: 100%;
	}

	nav ul {
		justify-content: flex-start;
		flex-direction: column;
		margin-top: 20px;
		padding: 0;
	}

	nav li {
		padding-top: 20px;
		padding-bottom: 20px;
		margin: auto;
	}

	nav li img {
		height: 35px;
	}

	main {
		margin-left: 70px;
		padding-left: 10px;
		padding-top: 0;
		margin-top: 60px;
		width: calc(100%-70px);
	}

	#dash-and-search {
		position: relative;
	}
	#dash-title {
		display: block;
		padding-left: 10px;
	}

	#search-banner {
		width: 60%;
		background: #fbfbfb;
		padding: 10px;
		height: 60px;
		border: 1px solid lightgray;
		position: absolute;
		right: 0;
		top: 0;
	}

	#search-bar {
		height: 30px;
		width: 40%;
		margin-right: 10px;
		background: white;
		border-radius: 4px;
		position: absolute;
		right: 10px;
	}

	/* ---- Charts -----*/

	#charts {
		width: 100%;
	}

	#traffic {
/*		width: 95%;*/
/*		height: 400px;*/
	}

	#daily-traffic {
		border: 1px solid black;
		float: left;
		width: 50%;
	}

	#mobile-users {
		width: 50%;
		float: right;
	}

	#side-by-side-charts {
		width: 95%;
	}


/* ---- Widgets ----- */

	#social-stats {
		width: 100%;
		border-top: 1px solid grey;
		margin-top: 400px; //test
	}

	#social-stats-title {
/*		position: absolute;*/
		top: 0;
		left: 0;
	}

	#social-stats img {
		float: left;
	}

	#social-stats ul {
		display: flex;
/*		width: 100%;*/
		margin: auto;
		align-content: space-between;
		width: 75%;
	}

	#social-stats li {
/*		height: 50px;*/
/*		width: 80px;*/
		flex-direction: column;
		list-style-position: inside;
		padding: 10px;
		margin: 10px;
		height: 80px;
	}

	.social-number {
		font-size: 2em;
		float: right;
	}

	.social-name {
		color: purple;
		font-weight: 600;
		float: right;
	}

	#new-members,
	#recent-activity,
	#message-user,
	#settings {
		width: calc(50%);
		padding: 10px;
		float: left;
	}

	/* ---- New Members ----- */

	#new-members img {
		float: left;
		margin-right: 10px;
	}

	.new-member-info {
		height: auto;
		padding: 10px;
		font-size: .9em;
	}

	/* ---- Settings -----*/

	#email-toggle,
	#public-toggle {
		position: relative;
	}

	#toggle-element,
	#toggle {
		display: inline-block;
		float: right;
		position: absolute;
		right: 30%;
		margin: 0;
		vertical-align: baseline;
	}

	#send-email,
	#set-profile {
		width: 60%;
		float: left;
		text-align: left;
		vertical-align: baseline;
	}

}
